page-welcome {

  #welcome{
background:color($colors,energy);

h3{
    font-size: 32px;
    margin-top: 50px;
  }
.margintop{
margin-top:10px;
}
#logo{
      padding: 20px;
      margin-top: 100px;
}
  }

}
